body {
	background-color: #2565AE;
}

*{
	font-family: Impact;
}

#responsive_canvas {
	width: 100%;
    margin-top: 4px;
	width: 250px;
	height: 282px;
}

.img_champ {
    width: 100%;
	height: auto;display: block;
    margin-left: auto;
    margin-right: auto;
}

.color_border {
    background-color: #2565AE;
}

.border {
    border: 3px solid #FFEF00;
}

.button_below {
	margin-top: 40px;
	text-align: center;
}

.button {
    color : #FFEF00;
}

.button:hover {
	color : white;
	cursor: pointer;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

ul {
  list-style: none;
  }
  
	.backgroundmsg{
		color : white;
    	background: #2565AE;
    	padding: .5em .1em;
    	min-height : 300px;
    	margin-bottom: 20px;
		width: 500px;
		height: 564px;
    }